<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-adsense-account" content="ca-pub-8154119994575860">
    <title>@ViewData["Title"] - WOTBlyatz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WOTBlyatz.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom-styles.css" asp-append-version="true">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.13/jquery.validate.unobtrusive.min.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8154119994575860" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WOTBlyatz</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       
                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Моды</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://t.me/+1Y6Thxmq_N9kODYy" target="_blank">Поддержка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Другое</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                           @*  <li class="nav-item">
                                <span class="navbar-text">Привет, @User.Identity.Name</span>
                            </li> *@
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Profile">@User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Выйти</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Войти</a>
                            </li>
                        }
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container main-block-container">
        <main role="main" class="pb-3 main-block">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-light py-4" style="background-color: #1f1f1f;">
        <div class="container">
            <div class="row">
                <!-- Блок "О нас" -->
                <div class="col-md-6 mb-3 text-start">
                    <h5 >О нас</h5>
                    <p>
                        WOTBlyatz — ваш источник качественных авторских модификаций для Android и ПК.
                        Здесь собраны модпаки, зоны пробития, скины, прицелы, ангары, звуки экипажа, эффекты, HD-модели, ремоделирования и многое другое.
                        Мы стремимся сделать все моды доступными в одном месте.
                    </p>
                </div>

                <!-- Блок "Социальные сети" -->
                <div class="col-md-3 mb-3 text-start">
                    <h5 >Мы в социальных сетях</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="@("https://www.youtube.com/@WotBlyatz1337")" class="text-light text-decoration-none d-flex align-items-center" target="_blank">
                                <i class="fab fa-youtube me-2"></i> YouTube
                            </a>
                        </li>
                        <li>
                            <a href="https://t.me/WotBlyatz" class="text-light text-decoration-none d-flex align-items-center" target="_blank">
                                <i class="fab fa-telegram me-2"></i> Telegram
                            </a>
                        </li>
                        <li>
                            <a href="@("https://www.tiktok.com/@wot_blyatz")" class="text-light text-decoration-none d-flex align-items-center" target="_blank">
                                <i class="fab fa-tiktok me-2"></i> TikTok
                            </a>
                        </li>
                        @* <li>
                            <a href="https://discord.com" class="text-light text-decoration-none d-flex align-items-center" target="_blank">
                                <i class="fab fa-discord me-2"></i> Discord
                            </a>
                        </li *@
                    </ul>
                </div>

                <!-- Блок "Контакты" -->
                <div class="col-md-3 mb-3 text-start">
                    <h5>Контакты</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="mailto:contact@wotblyatz.com" class="text-light text-decoration-none d-flex align-items-center">
                                <i class="fab fa-google me-2"></i> wotblyatz@gmail.com
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="text-center mt-3">
                <p class="mb-0 copy-text">&copy; 2025 - WOTBlyatz</p>
            </div>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
